@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

/* ================================
--- General Styles
================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: 'Poppins', Sans-Serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ================================
--- Header
================================ */

header {
  width: 100%;
  background-color: var(--light-three);
  overflow: hidden;
}

nav {
  width: 100%;
  position: relative;
  z-index: 50;
}

.container {
  max-width: 92rem;
  background-color: red;
}